/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}


html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

